.collage-container {
    width: 50%; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
  .collage-row {
    display: flex;
    flex: 1; 
    margin: 0px; 
  }
  
  
  .collage-img {
    width: 49%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 0px; 
  }
  